@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background-color: theme('colors.matrix.bg');
    color: theme('colors.matrix.green');
    min-height: 100vh;
    font-family: theme('fontFamily.thai');
  }
}
